{% extends 'base1.html.twig' %}

{% block title_container %}Notre carte{% endblock %}

{% block page_name %}Catalogue{% endblock %}

{% block inner_container %}
            <h3 class='text-center'>🍟 Tags 🍔</h3>    
            <hr>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                    {% for Resto in Restos %}
                        <div class="col mb-5">
                            <a href="">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="" alt="produit" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder" style="font-family:'poppins';color:#000;">{{Resto.nom|upper}}</h5>
                                            {# small paragraph #}
                                            <p style="font-size:12px; color:#666">Cliquez pour plus de details</p>
                                            <!-- Product price-->
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-dark mt-auto" href="{{path('menuClient', {id:Resto.id})}}"> Voir menu</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}