{% extends 'base.html.twig' %}

{% block title_container %}Reservation{% endblock %}

{% block page_name %}Commandes{% endblock %}

{% block inner_container %}
    <div class="col-12">
        <div class="card recent-sales">
            <div class="card-body">
                <h5 class="card-title">Reservation <span>| Gérer les Reservation effectuées</span></h5>
                <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Client</th>
                        <th scope="col">Menus</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}